/*********** Main Styling **************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

// Color Vars
$black: #000000;
$white: #FFFFFF;
$s-grey: #73748C;
$paua: #8786A4;
$smoke: #F7F7F7;
// More to come when personal styling in place



:root { 
    font-size: 64%
}